<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>DjangoMicroBlog</title>
        <link rel="stylesheet" href="{% url 'staticfiles' path='css/main.css' %}" />
    </head>
    <body>
        {% if user.is_authenticated %}
        <p class="alert alert-success">Welcome, {{ user.username }}.</p>
        {% else %}
        <p class="alert alert-success">Welcome! <a href="{% url 'login' %}"><strong>log in</strong></a></p>
        {% endif %}
        <div class="top">
            <div class="slogan">DjangoMicroBlog</div>
        </div>
        <div class="container">
            <div class="menu">
                <a href="{% url 'list_entries' %}">All entries</a>
                <a href="{% url 'users_list' %}">Entries by Users</a>
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
                {% else %}
                {% if user.username == 'admin' %}
                <a href="{% url 'add_tag' %}">Add tag</a>
                {% endif %}
                <a href="{% url 'add_entry' %}">Add entry</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
            <div class="content">
            {% if messages %}
                {% for message in messages %}
                <p class="notification{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>