{% extends "base.html" %}

{% block content %}
{% for entry in entries %}
<div class="entry">
    <div class="title">{{ entry.title }}</div>
    <div class="content">{{ entry.content }}</div>
    <div class="nick">added by:
        <span class="_nick_">
            <a href="{% url 'entries_username' username=entry.nick %}">
             {{ entry.nick }}
            </a>
        </span>
        <span class="published">{{entry.published}}</span>
        {% if entry.edited_by != None %}
        <span class="edited_by">Edytowane przez: {{entry.edited_by}}</span>
        <span class="last_edited">({{entry.last_edited}})</span>
        {% endif %}
        <div class="tagz">
            Tagi:
            {% for tag in entry.tags.all %}
                <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
        <div class="edit">
            <a href="{% url 'edit_entry' id=entry.pk%}">Edituj</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}