{% extends "base.html" %}

{% block content %}
<h1>DjangoMicroBlog | ADD</h1>
<form action="{% url 'add_entry' %}" method="POST">
    {% csrf_token %}
    <label name="title">Title</label>
    <input type="text" name="title" />

    <label name="title">Nick</label>
    <input type="text" name="nick" />

    <label name="title">Content</label>
    <textarea name="content"></textarea>

    <input type="submit" value="send" />
</form>
{% endblock %}