{% extends "base.html" %}

{% block content %}
<h1>DjangoMicroBlog</h1>
{% for entry in entries %}
<div class="entry">
    <div>{{ entry.title }}</div>
    <div>{{ entry.content }}</div>
    <div>{{ entry.nick }}</div>
</div>
{% endfor %}
{% endblock %}